
body{
    background-image: url("/back2.jpeg");
    background-repeat: no-repeat;
    background-size: 1363px 640px;;
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 200px;
    color: #000000;
}
div{
    width: 70%;
}
button{
    margin-left: 46%;
    margin-top: 26px;
    transform: scale(1.6);
    background-color: rgb(42, 45, 45);
    color: #ffffff;
    border: solid 2px black;
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}
button:hover{
    transform: scale(1.5);
    background-color: #56c8d9;    
}